<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rlfit.gulimall.product.mapper.PmsCategoryBrandRelationMapper">

    <resultMap id="BaseResultMap" type="cn.rlfit.gulimall.product.domain.PmsCategoryBrandRelation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="brandId" column="brand_id" jdbcType="BIGINT"/>
            <result property="catelogId" column="catelog_id" jdbcType="BIGINT"/>
            <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
            <result property="catelogName" column="catelog_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,brand_id,catelog_id,
        brand_name,catelog_name
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pms_category_brand_relation
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from pms_category_brand_relation
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.rlfit.gulimall.product.domain.PmsCategoryBrandRelation" useGeneratedKeys="true">
        insert into pms_category_brand_relation
        ( id,brand_id,catelog_id
        ,brand_name,catelog_name)
        values (#{id,jdbcType=BIGINT},#{brandId,jdbcType=BIGINT},#{catelogId,jdbcType=BIGINT}
        ,#{brandName,jdbcType=VARCHAR},#{catelogName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.rlfit.gulimall.product.domain.PmsCategoryBrandRelation" useGeneratedKeys="true">
        insert into pms_category_brand_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="brandId != null">brand_id,</if>
                <if test="catelogId != null">catelog_id,</if>
                <if test="brandName != null">brand_name,</if>
                <if test="catelogName != null">catelog_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="brandId != null">#{brandId,jdbcType=BIGINT},</if>
                <if test="catelogId != null">#{catelogId,jdbcType=BIGINT},</if>
                <if test="brandName != null">#{brandName,jdbcType=VARCHAR},</if>
                <if test="catelogName != null">#{catelogName,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.rlfit.gulimall.product.domain.PmsCategoryBrandRelation">
        update pms_category_brand_relation
        <set>
                <if test="brandId != null">
                    brand_id = #{brandId,jdbcType=BIGINT},
                </if>
                <if test="catelogId != null">
                    catelog_id = #{catelogId,jdbcType=BIGINT},
                </if>
                <if test="brandName != null">
                    brand_name = #{brandName,jdbcType=VARCHAR},
                </if>
                <if test="catelogName != null">
                    catelog_name = #{catelogName,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.rlfit.gulimall.product.domain.PmsCategoryBrandRelation">
        update pms_category_brand_relation
        set 
            brand_id =  #{brandId,jdbcType=BIGINT},
            catelog_id =  #{catelogId,jdbcType=BIGINT},
            brand_name =  #{brandName,jdbcType=VARCHAR},
            catelog_name = #{catelogName,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <select id="getRelation" parameterType="long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from pms_category_brand_relation
        <if test=" brandId != null and brandId != ''">
            where brand_id = #{brandId,jdbcType=BIGINT}
        </if>
    </select>
    <update id="updateRelationName">
        update pms_category_brand_relation
        set brand_name = #{name,jdbcType=VARCHAR}
        where brand_id = #{brandId,jdbcType=BIGINT}
    </update>
    <select id="getBrandsByCatId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from pms_category_brand_relation
        <if test="_parameter != null and _parameter != ''">
            where catelog_id = #{catId,jdbcType=BIGINT}
        </if>
    </select>
</mapper>
