<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rlfit.gulimall.product.mapper.PmsProductAttrValueMapper">

    <resultMap id="BaseResultMap" type="cn.rlfit.gulimall.product.domain.PmsProductAttrValue">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
            <result property="attrId" column="attr_id" jdbcType="BIGINT"/>
            <result property="attrName" column="attr_name" jdbcType="VARCHAR"/>
            <result property="attrValue" column="attr_value" jdbcType="VARCHAR"/>
            <result property="attrSort" column="attr_sort" jdbcType="INTEGER"/>
            <result property="quickShow" column="quick_show" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,spu_id,attr_id,
        attr_name,attr_value,attr_sort,
        quick_show
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pms_product_attr_value
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from pms_product_attr_value
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.rlfit.gulimall.product.domain.PmsProductAttrValue" useGeneratedKeys="true">
        insert into pms_product_attr_value
        ( id,spu_id,attr_id
        ,attr_name,attr_value,attr_sort
        ,quick_show)
        values (#{id,jdbcType=BIGINT},#{spuId,jdbcType=BIGINT},#{attrId,jdbcType=BIGINT}
        ,#{attrName,jdbcType=VARCHAR},#{attrValue,jdbcType=VARCHAR},#{attrSort,jdbcType=INTEGER}
        ,#{quickShow,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.rlfit.gulimall.product.domain.PmsProductAttrValue" useGeneratedKeys="true">
        insert into pms_product_attr_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="spuId != null">spu_id,</if>
                <if test="attrId != null">attr_id,</if>
                <if test="attrName != null">attr_name,</if>
                <if test="attrValue != null">attr_value,</if>
                <if test="attrSort != null">attr_sort,</if>
                <if test="quickShow != null">quick_show,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="spuId != null">#{spuId,jdbcType=BIGINT},</if>
                <if test="attrId != null">#{attrId,jdbcType=BIGINT},</if>
                <if test="attrName != null">#{attrName,jdbcType=VARCHAR},</if>
                <if test="attrValue != null">#{attrValue,jdbcType=VARCHAR},</if>
                <if test="attrSort != null">#{attrSort,jdbcType=INTEGER},</if>
                <if test="quickShow != null">#{quickShow,jdbcType=TINYINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.rlfit.gulimall.product.domain.PmsProductAttrValue">
        update pms_product_attr_value
        <set>
                <if test="spuId != null">
                    spu_id = #{spuId,jdbcType=BIGINT},
                </if>
                <if test="attrId != null">
                    attr_id = #{attrId,jdbcType=BIGINT},
                </if>
                <if test="attrName != null">
                    attr_name = #{attrName,jdbcType=VARCHAR},
                </if>
                <if test="attrValue != null">
                    attr_value = #{attrValue,jdbcType=VARCHAR},
                </if>
                <if test="attrSort != null">
                    attr_sort = #{attrSort,jdbcType=INTEGER},
                </if>
                <if test="quickShow != null">
                    quick_show = #{quickShow,jdbcType=TINYINT},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.rlfit.gulimall.product.domain.PmsProductAttrValue">
        update pms_product_attr_value
        set 
            spu_id =  #{spuId,jdbcType=BIGINT},
            attr_id =  #{attrId,jdbcType=BIGINT},
            attr_name =  #{attrName,jdbcType=VARCHAR},
            attr_value =  #{attrValue,jdbcType=VARCHAR},
            attr_sort =  #{attrSort,jdbcType=INTEGER},
            quick_show =  #{quickShow,jdbcType=TINYINT}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
