<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rlfit.gulimall.product.mapper.PmsSkuInfoMapper">

    <resultMap id="BaseResultMap" type="cn.rlfit.gulimall.product.domain.PmsSkuInfo">
            <id property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
            <result property="skuName" column="sku_name" jdbcType="VARCHAR"/>
            <result property="skuDesc" column="sku_desc" jdbcType="VARCHAR"/>
            <result property="catalogId" column="catalog_id" jdbcType="BIGINT"/>
            <result property="brandId" column="brand_id" jdbcType="BIGINT"/>
            <result property="skuDefaultImg" column="sku_default_img" jdbcType="VARCHAR"/>
            <result property="skuTitle" column="sku_title" jdbcType="VARCHAR"/>
            <result property="skuSubtitle" column="sku_subtitle" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="saleCount" column="sale_count" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        sku_id,spu_id,sku_name,
        sku_desc,catalog_id,brand_id,
        sku_default_img,sku_title,sku_subtitle,
        price,sale_count
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pms_sku_info
        where  sku_id = #{skuId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from pms_sku_info
        where  sku_id = #{skuId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="sku_id" keyProperty="skuId" parameterType="cn.rlfit.gulimall.product.domain.PmsSkuInfo" useGeneratedKeys="true">
        insert into pms_sku_info
        ( sku_id,spu_id,sku_name
        ,sku_desc,catalog_id,brand_id
        ,sku_default_img,sku_title,sku_subtitle
        ,price,sale_count)
        values (#{skuId,jdbcType=BIGINT},#{spuId,jdbcType=BIGINT},#{skuName,jdbcType=VARCHAR}
        ,#{skuDesc,jdbcType=VARCHAR},#{catalogId,jdbcType=BIGINT},#{brandId,jdbcType=BIGINT}
        ,#{skuDefaultImg,jdbcType=VARCHAR},#{skuTitle,jdbcType=VARCHAR},#{skuSubtitle,jdbcType=VARCHAR}
        ,#{price,jdbcType=DECIMAL},#{saleCount,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="sku_id" keyProperty="skuId" parameterType="cn.rlfit.gulimall.product.domain.PmsSkuInfo" useGeneratedKeys="true">
        insert into pms_sku_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="skuId != null">sku_id,</if>
                <if test="spuId != null">spu_id,</if>
                <if test="skuName != null">sku_name,</if>
                <if test="skuDesc != null">sku_desc,</if>
                <if test="catalogId != null">catalog_id,</if>
                <if test="brandId != null">brand_id,</if>
                <if test="skuDefaultImg != null">sku_default_img,</if>
                <if test="skuTitle != null">sku_title,</if>
                <if test="skuSubtitle != null">sku_subtitle,</if>
                <if test="price != null">price,</if>
                <if test="saleCount != null">sale_count,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="skuId != null">#{skuId,jdbcType=BIGINT},</if>
                <if test="spuId != null">#{spuId,jdbcType=BIGINT},</if>
                <if test="skuName != null">#{skuName,jdbcType=VARCHAR},</if>
                <if test="skuDesc != null">#{skuDesc,jdbcType=VARCHAR},</if>
                <if test="catalogId != null">#{catalogId,jdbcType=BIGINT},</if>
                <if test="brandId != null">#{brandId,jdbcType=BIGINT},</if>
                <if test="skuDefaultImg != null">#{skuDefaultImg,jdbcType=VARCHAR},</if>
                <if test="skuTitle != null">#{skuTitle,jdbcType=VARCHAR},</if>
                <if test="skuSubtitle != null">#{skuSubtitle,jdbcType=VARCHAR},</if>
                <if test="price != null">#{price,jdbcType=DECIMAL},</if>
                <if test="saleCount != null">#{saleCount,jdbcType=BIGINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.rlfit.gulimall.product.domain.PmsSkuInfo">
        update pms_sku_info
        <set>
                <if test="spuId != null">
                    spu_id = #{spuId,jdbcType=BIGINT},
                </if>
                <if test="skuName != null">
                    sku_name = #{skuName,jdbcType=VARCHAR},
                </if>
                <if test="skuDesc != null">
                    sku_desc = #{skuDesc,jdbcType=VARCHAR},
                </if>
                <if test="catalogId != null">
                    catalog_id = #{catalogId,jdbcType=BIGINT},
                </if>
                <if test="brandId != null">
                    brand_id = #{brandId,jdbcType=BIGINT},
                </if>
                <if test="skuDefaultImg != null">
                    sku_default_img = #{skuDefaultImg,jdbcType=VARCHAR},
                </if>
                <if test="skuTitle != null">
                    sku_title = #{skuTitle,jdbcType=VARCHAR},
                </if>
                <if test="skuSubtitle != null">
                    sku_subtitle = #{skuSubtitle,jdbcType=VARCHAR},
                </if>
                <if test="price != null">
                    price = #{price,jdbcType=DECIMAL},
                </if>
                <if test="saleCount != null">
                    sale_count = #{saleCount,jdbcType=BIGINT},
                </if>
        </set>
        where   sku_id = #{skuId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.rlfit.gulimall.product.domain.PmsSkuInfo">
        update pms_sku_info
        set 
            spu_id =  #{spuId,jdbcType=BIGINT},
            sku_name =  #{skuName,jdbcType=VARCHAR},
            sku_desc =  #{skuDesc,jdbcType=VARCHAR},
            catalog_id =  #{catalogId,jdbcType=BIGINT},
            brand_id =  #{brandId,jdbcType=BIGINT},
            sku_default_img =  #{skuDefaultImg,jdbcType=VARCHAR},
            sku_title =  #{skuTitle,jdbcType=VARCHAR},
            sku_subtitle =  #{skuSubtitle,jdbcType=VARCHAR},
            price =  #{price,jdbcType=DECIMAL},
            sale_count =  #{saleCount,jdbcType=BIGINT}
        where   sku_id = #{skuId,jdbcType=BIGINT} 
    </update>
</mapper>
